.successful_booking {
	margin-top: 4vw;
	width: 100%;
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.successful_booking_container {
	background-color: var(--gray-color);
	padding: 3vw;
	border-radius: 1vw;
}
.successful_booking_container_data > h3 {
	text-align: center;
	font-size: 2vw;
}
.successful_booking_container_data_car{
    margin-top: 0.5vw;
    margin-bottom: 1vw;
}
.successful_booking_container_data_car p {
	display: block;
	text-align: left;
    font-size: 0.8vw;
}
.successful_booking_container_data_car_category{
    font-weight: 600;
}
.successful_booking_container_data_date{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.successful_booking_container_data_date>div{
    display: flex;
    width: 100%;
    margin-bottom: 0.5vw;
}
.successful_booking_container_data_date p{
    text-align: center;
    display: block;
    width: 50%;
    font-size: 0.8vw;
}
.successful_booking_container_data_date_label>p{
    font-weight: 600;
}
.successful_booking_container_data_user{
    margin-top: 0.5vw;
}
.successful_booking_container_data_user p {
    font-size: 0.8vw;
}
.successful_booking_container_data_user span{
    font-weight: 600;
}
.successful_booking_container_data a{
    margin: 1vw 5vw;
    display: block;
    width: 9vw;
    text-decoration: none;
    color: black;
    font-weight: 550;
    font-size: 1.1vw;
    margin-right: 1.5vw;
    position: relative;
}

.successful_booking_container_data a::before{
    content:'';
    background: black;
    position:absolute;
    bottom:-3px; 
    width: 0;
    height: 2px;
    transition: all 700ms
}
.successful_booking_container_data a:hover::before{
    width:100%;
    background-color: black;
}