.bookin_aside{
    background-color: var(--gray-color);
    margin: 20px 40px;
    width: 90%;
    height: 95%;
    border-radius: 10px;
}
.bookin_aside>h3{
    font-size: 1.2vw;
    padding: 15px;
}
.bookin_aside>img{
    width: 500px;
}
.booking_aside_data{
    margin-top: 30px;
    padding: 20px;
}
.booking_aside_data>p{
    font-size: 0.7vw;
}
.booking_checkin{
    margin-top: 50px;
}
.booking_checkin , .booking_checkout{
    display: block;
    width: 100%;
    height: 60px;
}
.booking_checkin input , .booking_checkout input{
    width: 100%;
    padding: 20px 0;
    height: 40px;
}