/*-----div global-----*/
.container_form_login {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 35vw;
	background-color: #dfe5ed;
    border-radius: 15px;
	padding: 3vh 4vw;
	margin: 22vh 0vw 0vh 0vw;
}
/*-----div icon and title form----*/
.icon_group{
	display: flex;
	align-items: center;
	font-size: max(1.6vw, min(18px));
}
/*-----icon title form-----*/
.icon_user_logIn{
	color: var(--secondary-color);
	margin: 12px 12px;
}
/*-----title form-----*/
.container_form_login h1{
	color: var(--secondary-color);
	font-size: max(1.6vw, min(18px));
	font-weight: 600;
	margin: 1vh 0vw 2vh 0vw;
}
/*-----form login-----*/
.form_login {
    align-items: center;
    display: flex;
    flex-direction: column;
	position: relative;
	width: 100%;
}
/*-----div label/input-----*/
.form_login_group {
	display: flex;
	flex-direction: column;
	margin: 0.75vh 0px;
    position: relative;
	width: 100%;
}
/*-----label-----*/
.form_login_group label {
	color: var(--secondary-color);
	font-size: max(1vw, min(15px));
	font-weight: 400;
	margin-bottom: 5px;
	width: 100%;
}
/*-----input-----*/
.form_login_group input {
	border: none;
    border-radius: 5px;
    color: var(--secondary-color);
    font-size: 1.5rem;
    line-height: 25px;
    margin-bottom: 10px;
    padding: 10px;
	width: 100%;
    height: 2vw;
	position: relative;
}
/*-----button login-----*/
.form_login button {
	background: var(--secondary-color);
	border-radius: 0.5rem;
    border: 1px solid var(--secondary-color);
	border: none;
    color: white;
	cursor: pointer;
    display: block;
	font-size: max(1vw, min(15px));
    margin: 3vh 0px 7px;
	padding: 0.25vw 3.5vw;
	transition: all 0.2s;
	border: 0.5px solid rgba(253, 253, 253, 0.274);
}
/*-----button login hover-----*/
.form_login button:hover {
	transform: scale(1.05);
}

.form_login button:active {
	box-shadow: 6px 6px 12px #2c2c2c, -6px -6px 12px #4f646e;
}
/*-----show/hide password icon-----*/
.show_hide_password_icon{
	position: absolute;
	color: var(--secondary-color);
	font-size: max(1.1vw, min(11px));
	bottom: 1vw;
	right: 0.75vw;
}
/*-----invitation to signup text-----*/
.form_login_text_signup{
	display: flex;
	margin-top: 0.8vw;
	font-size: max(1vw, min(12px));
	color: var(--secondary-color);
}
/*-----signup button-----*/
.form_login_text_signup a{
    color: var(--secondary-color);
    font-weight: bold;
	margin: 0vw 0.4vw;
}
/*-----wrong credentials text-----*/
.login_error {
    color: #df2537;
    font-weight: bold;
    text-align: center;
	font-size: max(0.9vw, min(15px));
}
/*-------------------Tablet Design-----------------------*/

@media (min-width: 600px) and (max-width: 1000px){
	.container_form_login {
		padding: 45px 63px;
		width: 80vw;
		height: 71vw;
	}
	.icon_user_logIn {
		font-size: 3.5rem;
		margin: 12px 12px;
	}
	.container_form_login h1 {
		font-size: 3.6rem;
	}
	.icon_group {
		margin-bottom: 1.5vw;
		font-size: 2.0rem;
	}
	.form_login_group input {
		height: 50px;
	}
	.login_error {
		top: 68%;
		left: -0.7%;
		text-align: center;
		font-size: 1.7rem;
	}
	.form_login button {
		margin-top: 50px;
	}
	.form_login_group label {
		margin-bottom: 8px;
		font-size: 2.0rem;
	}
	#show_hide_password {
		top: -7%;
		width: 45px;
	}
	.form_login_text {
		font-size: 2.0rem;
	}
}
/*-------------------Movile Design-----------------------*/

@media (max-width: 599px) {
	.container_form_login {
		width: 90vw;
		padding: 20px 30px;
	}
	.form_login_text {
		font-size: 1.4rem;
	}
	.form_login_group label {
		font-size: 1.2rem;
	}
	.container_form_login h1 {
		font-size: 2.3rem;
	}
	.form_login_text {
		font-size: 1.2rem;
	}
	.form_login_text a {
		font-size: 1.2rem;
	}
	.form_login button {
		font-size: 1.4rem;
		margin-top: 7.3vw;
	}
	#show_hide_password {
		top: -11%;
		left: 86%;
	}
	.login_error{
		left: 2.3%;
		font-size: 1.1rem;
		top: 69%;
		text-align: center;
	}
	.form_login_group input {
		font-size: 1.2rem;
		height: 40px
	}
	.icon_user_logIn {
		font-size: 2.5rem;
		margin: 6px 12px;
	}
}