@media (max-width: 599px) {
    /*-----div global menu mobile-----*/
    .header_menu_mobile{
        display: none;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0vh;
        right: 0vw;
        backdrop-filter: blur(8px);
        z-index: 1002;
    }
    /*-----div menu mobile-----*/
    .header_menu_mobile_div{
        flex-direction: column;
        background-color: #dfe5ed;
        position: absolute;
        right: 0vw;
        top: 0vw;
        height: 100vh;
    }
    /*-----title menu mobile - MENU -----*/
    .menu_title_nav_header_mobile{
        background-color: var(--primary-color);
        width: 70vw;
        text-align: right;
        padding: 25vh 5vw 0vh 0vh;
        font-size: 7vw;
    }
    /*-----user profile div-----*/
    .nav_header_profile_user{
        display: flex;
        flex-direction: column;
        margin-top: -5vh;
    }
    .circle_user_profile{
        font-size: 6vw;
        padding: 1.5vw;
        align-self: flex-end;
    }
    .user_profile_greeting{
        display: block;
        font-size: 5vw;
    }
    .user_title{
        display: block;
        font-size: 5vw;
        margin: 0vw;
    }
    .btn_nav_header_mobile{
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 5vw;
        margin-right: 0vw;
        margin: 1.5vh 5vw;
        text-align: right;
    }
    .btn_nav_header_mobile:hover{
        color: var(--primary-color);
    }
    .line_horizontal_menu_mobile{
        height: 3px;
        background-color: black;
        margin: 0vw 5vw;
    }
    .header_close_menu_mobile{
        position: absolute;
        font-size: 8vw;
        top: 3vw;
        left: 3vw;
    }
    .social_networks_logos_mobile_menu{
        display: flex;
        position: absolute;
        bottom: 3vh;
        right: 5vw;
        z-index: 1000;
    }
    html:not([data-scroll='0']) .social_networks_logos_mobile_menu {
        bottom: 3vh;
    }
    .icon_social_network_mobile_menu{
        margin-left: 3vw;
        font-size: 7vw;
        color: black;
    }
}