/*-----div global-----*/
.container_form_registro{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    align-self: center;
	background-color: #dfe5ed;
	padding: 3vh 3vw;
    width: 50vw;
	border-radius: 15px;
	margin: 15vh 0vw 0vh 0vw;
}
@media (min-width:999px) and (max-width: 1400px){
	.container_form_registro{
		margin: 9vh 0vw 0vh 0vw;
	}
}
/*-----title form-----*/
.container_form_registro h1 {
	color: var(--secondary-color);
	font-size: max(1.6vw, min(18px));
	font-weight: 600;
	margin-bottom: 10px;
}
/*-----form-----*/
.form_registro{
	align-items: center;
	height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}
/*-----div for input name/lastName-----*/
.form_registro_divider{
	justify-content: space-between;
	width: 100%;
    display: flex;
}
/*-----div labe/input name/lastName*/
.form_registro_divider .form_registro_group input{
	width: 95%;
}
/*-----div labe/input-----*/
.form_registro_group {
	display: flex;
	flex-direction: column;
	margin: 6px 0;
	width: 100%;
    position: relative;
}
/*-----label----*/
.form_registro_group label {
	color: var(--secondary-color);
	font-size: max(1vw, min(15px));
	font-weight: 400;
	margin-bottom: 5px;
	width: 100%;
}
/*-----input----*/
.form_registro_group input {
	border: none;
    border-radius: 5px;
    color: var(--secondary-color);
    font-size: 1.5rem;
    line-height: 25px;
    margin-bottom: 10px;
    padding: 10px;
	width: 100%;
    height: 2vw;
	position: relative;
}
/*-----button signup-----*/
.form_registro button {
	background: var(--secondary-color);
	border-radius: 0.5rem;
    border: 1px solid var(--secondary-color);
	border: none;
    color: white;
	cursor: pointer;
    display: block;
	font-size: max(1vw, min(15px));
    margin: 3vh 0px 7px;
	padding: 0.25vw 5vw;
	transition: all 0.2s;
	border: 0.5px solid rgba(253, 253, 253, 0.274);
}
/*-----button login hover-----*/
.form_registro button:hover {
	transform: scale(1.05);
}

.form_registro button:active {
	box-shadow: 6px 6px 12px #2c2c2c, -6px -6px 12px #4f646e;
}
#show_hide_password{
    background: none;
    border: none;
    box-shadow: none;
    color: var(--secondary-color);
    font-size: 2rem;
    height: 40px;
    left: 90%;
    padding: 0;
    position: absolute;
    top: -14%;
    transition: none;
    width: 40px;
}
/*-----invitation to login text-----*/
.form_registro_text{
	display: flex;
	margin-top: 0.8vw;
	font-size: max(1vw, min(12px));
	color: var(--secondary-color);
}
.form_registro_text a{
	color: var(--secondary-color);
    font-weight: bold;
	margin: 0vw 0.4vw;
}
.form_login_text{
	font-size: 1.8rem;
}

/*-------------------Tablet Design-----------------------*/

@media (min-width: 600px) and (max-width: 1000px){
	#show_hide_password {
		top: -7%;
		width: 45px;
	}
	.form_login_text{
		font-size: 2.0rem;
	}
	.form_registro_divider{
		flex-direction: column;
	}
	.form_registro_group input {
		width: 95%;
		height: 40px;
	}
}
/*-------------------Movile Design-----------------------*/

@media (max-width: 599px) {
	.container_form_registro {
		padding: 12px 21px;
		width: 90vw;
	}
	.form_registro_divider .form_registro_group input {
		margin-left: 1px;
		width: 98%;
	}
	.form_registro_group input {
		width: 99%;
		height: 30px;
	}
	.form_registro_group label {
		font-size: 1.2rem;
	}
	.container_form_registro h1 {
		font-size: 2.3rem;
	}
	.form_login_text {
		font-size: 1.2rem;
	}
	.form_registro button {
		font-size: 1.4rem;
	}
	#show_hide_password {
		left: 85%;
		top: -5%;
	}
	.form_registro_divider{
		flex-direction: column;
	}
}