.product_data_information{
    padding: 2vw 4vw;

}

.product_data_information>h3{
    font-size: 1.5vw;
    line-height: 1vw;
    display: block;
    margin-bottom: 2vw;
}

.product_data_information>p{
    font-size: 1vw;
    margin-bottom: 2vw;
}
.product_data_car_card_icons_container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5vw;
    width: 100%;
}

.product_data_car_card_div_icon_description{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.25vw;
    width: 12vw;
}
.product_data_car_card_icon{
    margin-bottom: 0.25vw;
    width: 4vw;
    height: 4vw;
}

.product_data_car_card_icon_text{
    font-size: 1.5vw;
    width: 6vw;
    line-height: 4vw;
    margin-left: 2vw;
}