/*-----div global-----*/
.car_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 18vw;
    padding: 2vw 2.5vw;
    border-radius: 10px;
    background-color: #dfe5ed;
    border: 1px solid white;
}
/*-----div global hover-----*/
.car_card:hover{
    transform: scale(1.02);
    border: 1px solid black;
}
/*-----div car image-----*/
.car_card_div_image_car{
    height: 20vh;
}
/*-----car image-----*/
.car_card_img_car{
    display: block;
    margin-bottom: 1.5vw;
    width: 14vw;
}
/*-----car name/title-----*/
.car_card_car_name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1vw;
    font-weight: 700;
    margin-bottom: 1.8vw;
}
/*-----div container icons-----*/
.car_card_icons_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5vw;
    width: 100%;
}
/*-----div icon + text-----*/
.car_card_div_icon_description{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 4vw;
}
/*-----icon-----*/
.car_card_icon{
    margin-bottom: 0.25vw;
    width: 1.7vw;
}
/*-----text-----*/
.car_card_icon_text{
    font-size: 0.8vw;
}
/*-----button view more-----*/
.car_card_btn_more{
    background-color: #FBC02D;
    border-radius: 5px;
    border: 2px solid var(--gray-color);
    color: black;
    font-size: 0.9vw;
    padding: 0.25vw 2vw;
    text-decoration: none;
    font-weight: bold;
}
/*-----button view more hover-----*/
.car_card_btn_more:hover{
    transform: scale(1.1);
}

/*------------------Tablet Desing------------------*/

@media (min-width: 600px) and (max-width: 1000px){
    /*-----global div-----*/
    .car_card{
        width: 25vw;
        padding: 2.5vw;
    }
    /*-----div car image-----*/
    .car_card_div_image_car{
        height: 13vw;
    }
    /*-----car image-----*/
    .car_card_img_car{
        margin-bottom: 1.3vh;
        width: 18vw;
    }
    /*-----car name/title-----*/
    .car_card_car_name{
        font-size: 1.8vw;
        margin-bottom: 1.5vh;
    }
    /*-----global div icons-----*/
    .car_card_icons_container{
        margin-bottom: 1.5vh;
    }
    /*-----global div icon/text-----*/
    .car_card_div_icon_description{
        width: 70%;
    }
    /*-----icon description-----*/
    .car_card_icon{
        margin-bottom: 0.25vw;
        width: 2.5vw;
    }
    /*-----text description-----*/
    .car_card_icon_text{
        font-size: 1.2vw;
    }
    /*-----button view more-----*/
    .car_card_btn_more{
        font-size: 1.7vw;
        padding: 0.25vh 2.5vw;
        font-weight: bold;
    }
}

/*-------------------Movile Design-----------------------*/
@media (max-width: 599px) {
    .car_options_landing_page_section_car_list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .car_card {
        margin: 1vh;
        width: 90%;
    }
    /*-----div car image-----*/
    .car_card_div_image_car{
        height: 30vw;
    }
    .car_card_img_car {
        width: 40vw;
        margin-bottom: 1vh;
        margin-top: 1vh;
    }
    .car_card_car_name {
        font-size: 5vw;
        margin-bottom: 1vh;
    }
    .car_card_icons_container {
        width: 60%;
        margin-bottom: 1vh;
    }
    .car_card_icon {
        width: 6vw;
    }
    .car_card_icon_text {
        font-size: 2.5vw;
    }
    .car_card_btn_more {
        font-size: 3.5vw;
        font-weight: bold;
        padding: 1.25vw 8vw;
        margin-bottom: 1vh;
    }
}
