.product_availability_reservation{
    width: calc((98%/3));
    margin-top: 2%;
    margin-right: 2%;
    height: 10vw;
    padding: 2vw;
    background-color: white;
}
.product_availability_reservation>p{
    font-size: 1vw;
    font-weight: 400;
}
.product_availability_reservation>button{
    display: block;
    margin: 1vw auto;
    text-align: center;
    padding: 0.5vw 3vw;
    border-radius: 0.4vw;
    font-size: 1vw;
    background-color: var(--primary-color);
}