@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');

:root{
    --primary-color: #FBC02D;
    --secondary-color:  #263238;
    --tertiary-color: #607D8B;
    --quaternary-color: #FFFBE2;
    --gray-color: #dfe5ed;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    width: 100vw;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}