.product_availability{
    width: 100%;
    padding: 1.5vw 4vw 5vw 7vw;
    background-color: var(--gray-color);
}
.product_availability>h3{
    font-size: 1.5vw;
}
.product_availability_interaction{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
}