/*-----div global-----*/
.intro_landing_page_finder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-color);
    padding: 0.5vw 1.5vw;
    border-radius: 10px;
    position: absolute;
}
/*-----title-----*/
.intro_landing_page_finder_title{
    font-size: 16px/*1.3vw*/;
    margin: 0.5vw 0vw 0vw 0vw;
    display: none;
}
.intro_landing_page_finder_title span{
    color: var(--primary-color);
}
/*-----form-----*/
.intro_landing_page_form_finder{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-----labels-----*/
.intro_finder_label{
    display: flex;
    flex-direction: column;
    font-size: max(0.8vw, min(13px));
    font-weight: bold;
}
/*-----inputs and selects-----*/
#intro_landing_page_finder_select_location, #intro_landing_page_finder_select_fecha_recepcion,#intro_landing_page_finder_select_fecha_regreso {
    border: none;
    font-size: 16px/*0.85vw*/;
    font-size: max(0.85vw, min(14px));
    padding: 0.2vw 0.5vw;
    margin: 0.1vw 2vw 0.5vw 0vw;
    width: 13vw;
    border-radius: 5px;
}
/*-----find button-----*/
.intro_landing_page_finder_btn_buscar{
    display: flex;
    align-items: center;
    align-self: flex-end;
    background-color: #fbc02d;
    border-radius: 12px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: max(0.8vw, min(13px));
    font-weight: bold;
    padding: 0.35vw 1vw;
    margin: 0.2vw 0vw 0.5vw -0.5vw;
}
/*-----find button icon-----*/
.finder_btn_find_icon{
    margin-right: 0.5vw;
}

/*-------------------Tablet Design-----------------------*/

@media (min-width: 600px) and (max-width: 1000px){
    .intro_landing_page_form_finder{
        height: 6vh;
        width: 90vw;
    }
    #intro_landing_page_finder_select_location, #intro_landing_page_finder_select_fecha_recepcion,#intro_landing_page_finder_select_fecha_regreso {
        border-radius: 15px;
        border: 1.5px solid rgba(0, 0, 0, 0.1);
        font-size: 1.7vw;
    } 
    .intro_landing_page_finder_btn_buscar{
        border-radius: 12px;
        border: 1.5px solid rgba(0, 0, 0, 0.1);
        font-size: 2vw;
        width: 12%;
        padding: 0.9vw;
    }
}

/*-------------------Mobile Design-----------------------*/

@media (max-width: 599px){
    /*-----div global-----*/
    .intro_landing_page_finder{
        padding: 1vh 10vw 2vh 10vw;
        width: auto;
        position: relative;
    }
    /*-----title-----*/
    .intro_landing_page_finder_title{
        display: block;
        font-size: 5vw/*1.3vw*/;
        margin: 0vh 0vw 0.5vh 0vw;
    }
    /*-----form-----*/
    .intro_landing_page_form_finder{
        flex-direction: column;
        width: 100%;
    }
    /*-----labels-----*/
    .intro_finder_label{
        font-size: max(3vw, min(14px));
        margin: 0.75vh 0vw;
    }
    /*-----inputs and selects-----*/
    #intro_landing_page_finder_select_location, #intro_landing_page_finder_select_fecha_recepcion,#intro_landing_page_finder_select_fecha_regreso {
        background-color: white;
        font-size: max(3vw, min(14px));
        padding: 0.2vh 2vw;
        margin: 0vh 0vw;
        width: 65vw;
    }
    /*-----find button-----*/
    .intro_landing_page_finder_btn_buscar{
        display: block;
        font-size: max(2vw, min(15px));
        width: 50%;
        padding: 0.5vh 3vw;
        margin: 2vh 0vw 0vh 0vw;
        align-self: center;
    }
    /*-----find button icon-----*/
    .finder_btn_find_icon{
        margin-right: 0.5vw;
    }
}

